extends ../layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th Username
                        th Password
                        th Upload Time
                        th Check
                        th Update
                        th Delete
                    tbody
                        each item in users
                            tr(class="item-id-"+item._id)
                                td #{item.name}
                                td #{item.password}
                                td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                                td: a(target="_blank",href="../movie/"+item._id) check
                                td: a(target="_blank",href="../admin/update/"+item._id) modify
                                td
                                    button.btn-danger.del(type="button", data-id=item._id) delete

